flows_minibian.json
[{"id":"64d60be8.55cbb4","type":"tab","label":"Main"},{"id":"c56d2324.d06bf8","type":"tab","label":"SendMail"},{"id":"761d44c2.e9f20c","type":"subflow","name":"ThingSpeak","info":"","in":[{"x":710.5,"y":311,"wires":[{"id":"e1d863c2.7f6608"}]}],"out":[{"x":1282.5,"y":350,"wires":[{"id":"9b083471.0a517","port":0}]}]},{"id":"b437662c.b19848","type":"subflow","name":"Logger","info":"","in":[{"x":512.5,"y":325,"wires":[{"id":"eae0ce2e.dd52b8"}]}],"out":[]},{"id":"120d9d59.cfc17b","type":"subflow","name":"Integrated serial","info":"","in":[],"out":[]},{"id":"ab207b38.c1b26","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"19","bin":"bin","out":"count","addchar":false},{"id":"2f9564e0.c71d14","type":"pubnub-keys","z":0,"pub_key":"pub-c-54637d1c-3e6b-495a-9843-dadf17f13d55","sub_key":"sub-c-68c675a8-4ac5-11e7-99ed-0619f8945a4f"},{"id":"9b083471.0a517","type":"http request","z":"761d44c2.e9f20c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1132.5,"y":350,"wires":[[]]},{"id":"e1d863c2.7f6608","type":"function","z":"761d44c2.e9f20c","name":"GenereteRequestURL","func":"var temperature = msg.payload.temperature\nvar humidity = msg.payload.humidity\nvar light = msg.payload.light\nvar url = \"https://api.thingspeak.com/update?api_key=F1AGZDQ65MB8IU70&field1=\"+temperature+\"&field2=\"+humidity+\"&field3=\"+light\nreturn {url: url}","outputs":1,"noerr":0,"x":890.5,"y":311,"wires":[["9b083471.0a517"]]},{"id":"d04430d7.5084d8","type":"subflow:761d44c2.e9f20c","z":"64d60be8.55cbb4","name":"","x":1037.5,"y":181.5,"wires":[[]]},{"id":"f6ed1b6f.4dc8a8","type":"pubnub out","z":"64d60be8.55cbb4","keys":"2f9564e0.c71d14","channel":"dallalongaIOT","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":1048.5,"y":90,"wires":[]},{"id":"3d45ebbb.31e4ec","type":"file","z":"b437662c.b19848","name":"log","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":915.5,"y":333,"wires":[]},{"id":"eae0ce2e.dd52b8","type":"function","z":"b437662c.b19848","name":"FormatToCSV","func":"line = msg.payload.temperature+\",\"+msg.payload.humidity+\",\"+msg.payload.light\ntoday = new Date()\nvar month = today.getMonth()<10 ? '0'+today.getMonth() : today.getMonth()\nvar day = today.getDate()<10 ? '0'+today.getDate() : today.getDate()\nsuffix = \"\"+today.getFullYear()+month+day\nreturn {payload: line, filename: \"/home/infinitesnow/log/log-\"+suffix+\".csv\"};","outputs":1,"noerr":0,"x":672.5,"y":325,"wires":[["3d45ebbb.31e4ec"]]},{"id":"94cc6096.a5861","type":"subflow:b437662c.b19848","z":"64d60be8.55cbb4","name":"","x":1037,"y":257,"wires":[]},{"id":"b0ff4173.91ad98","type":"inject","z":"c56d2324.d06bf8","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 13 * * *","once":false,"x":107.5,"y":93,"wires":[["a8b1578e.9ba9d"]]},{"id":"a8b1578e.9ba9d","type":"function","z":"c56d2324.d06bf8","name":"YesterdaysLog","func":"var yesterday = new Date()\nyesterday.setDate(yesterday.getDate()-1)\nvar month = yesterday.getMonth()<10 ? '0'+yesterday.getMonth() : yesterday.getMonth()\nvar day = yesterday.getDate()<10 ? '0'+yesterday.getDate() : yesterday.getDate()\nsuffix = \"\"+yesterday.getFullYear()+month+day\nreturn {filename: \"/home/infinitesnow/log/log-\"+suffix+\".csv\"};","outputs":1,"noerr":0,"x":260.5,"y":220,"wires":[["e1fcdb2b.86176"]]},{"id":"fc6bae4d.0a195","type":"debug","z":"c56d2324.d06bf8","name":"","active":true,"console":"false","complete":"true","x":1066.5,"y":491,"wires":[]},{"id":"e1fcdb2b.86176","type":"file in","z":"c56d2324.d06bf8","name":"","filename":"","format":"utf8","x":397.5,"y":317,"wires":[["1ca688ab.c4ce47"]]},{"id":"1ca688ab.c4ce47","type":"csv","z":"c56d2324.d06bf8","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"temperature,humidity,light","x":553.5,"y":444,"wires":[["d14c1f9b.66f9"]]},{"id":"d14c1f9b.66f9","type":"function","z":"c56d2324.d06bf8","name":"Average","func":"var items=msg.payload\n\nnode.log(\"Creating vectors\")\nvar temps=items.map(i => i.temperature)\nvar hums=items.map( i => i.humidity)\nvar lights=items.map( i => i.light)\n\nlet sum = (a,b) => a+b\nlet average = (array) => array.reduce(sum) / array.length\nlet stddev = (array,avg) => Math.sqrt( array.map( i => Math.pow(i-avg,2)).reduce(sum) / array.length )\n\nnode.log(\"Computing averages\")\nvar tempavg = average(temps)\nvar humavg = average(hums)\nvar lightavg = average(lights)\n\nnode.log(\"Computing stddev\")\nvar sd = stddev(lights,lightavg)\nnode.log(\"Done, stddev: \"+sd)\nnode.log(\"Trimming\")\nvar lights_trimmed = lights.filter( (a) => Math.abs(a-lightavg)<3*sd )\nnode.log(\"Done, trimmed \"+(lights.length-lights_trimmed.length)+\" samples.\")\nnode.log(\"Computing adjusted average\")\nvar light_trimmed_avg = average(lights_trimmed)\n\nnode.log(\"Computing min/max\")\nvar tempmax=Math.max(...temps)\nvar hummax=Math.max(...hums)\nvar lightmax=Math.max(...lights)\nvar tempmin=Math.min(...temps)\nvar hummin=Math.min(...hums)\nvar lightmin=Math.min(...lights)\n\nnode.log(\"Done, returning\")\nreturn {\n    temperature_max: tempmax, temperature_min: tempmin, temperature_avg: tempavg,  \n    humidity_max: hummax, humidity_min: hummin, humidity_avg: humavg,  \n    light_max: lightmax, light_min: lightmin, light_avg: lightavg, light_trimmed_avg: light_trimmed_avg\n};","outputs":1,"noerr":0,"x":724.5,"y":541,"wires":[["c30996cc.fe3378"]]},{"id":"a096e497.5c8fc8","type":"e-mail","z":"c56d2324.d06bf8","server":"smtp.gmail.com","port":"465","secure":true,"name":"leledallalonga@gmail.com","dname":"","x":1131.5,"y":385,"wires":[]},{"id":"c30996cc.fe3378","type":"function","z":"c56d2324.d06bf8","name":"","func":"node.log(msg.temperature_max)\nvar message = \"Yesterday the average temperature was \"+msg.temperature_avg.toFixed(2)\n    +\"°, with an average humidity of \"+msg.humidity_avg.toFixed(2)+ \"% and an average light intensity of \"+msg.light_avg.toFixed(2)+\" lux (without outliers: \"+msg.light_trimmed_avg.toFixed(2)+\" lux )\"\n    +\"\\nThe maximum temperature was \"+msg.temperature_max.toFixed(2)+\"°, the maximum humidity was \"+msg.humidity_max.toFixed(2)+\"%, and the maximum light intensity was \"+msg.light_max.toFixed(2)+\" lux.\"\n    +\"\\nThe minimum temperature was \"+msg.temperature_min.toFixed(2)+\"°, and the minimum humidity was \"+msg.humidity_min.toFixed(2)+\"%, and the minimum light intensity was \"+msg.light_min.toFixed(2)+\" lux.\"\n    +\"\\n\\nHave a nice day!\"\nreturn {payload: message, topic: \"Weather summary\" };","outputs":1,"noerr":0,"x":860.5,"y":453,"wires":[["fc6bae4d.0a195","be4ccce8.c60358","a096e497.5c8fc8"]]},{"id":"be4ccce8.c60358","type":"e-mail","z":"c56d2324.d06bf8","server":"smtp.gmail.com","port":"465","secure":true,"name":"angela.broggi22@gmail.com","dname":"","x":1131,"y":285,"wires":[]},{"id":"d1f70586.77357","type":"file","z":"64d60be8.55cbb4","name":"","filename":"error.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":600,"y":220,"wires":[]},{"id":"534cc147.53c508","type":"inject","z":"64d60be8.55cbb4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":114.5,"y":85,"wires":[["e14e6051.02d1d8"]]},{"id":"86f1ab89.1a779","type":"function","z":"120d9d59.cfc17b","name":"","func":"var buf = msg.payload\n\nvar header = buf.readUInt8(0)\nvar footer = buf.readUInt8(18)\n\n// Check serial package integrity\nif (header!=0x7e || footer!=0x7e){ return null; }\n\nvar tempv = buf.readUInt16BE(10)\nvar humv = buf.readUInt16BE(12)\nvar luxv = buf.readUInt16BE(14)\n\n// Values from Sensirion datasheet\nvar c1= -2.0468\nvar c2=  0.0367\nvar c3= -1.5955*Math.pow(10,-6)\nvar d1= -40\nvar d2=  0.01\n\n// Formulas from the TinyOS wiki\n\n// Compute the raw voltage on the photodiode\nvar luxvsensor = luxv/4096*1.5\n// Compute the current through 100kOhm resistor\nvar luxi = luxvsensor/100000\n\nvar temp = d1 + d2*tempv\nvar hum = c1 + c2*humv + c3*Math.pow(humv,2)\nvar lux = 0.625 * Math.pow(10,6) * luxi * 1000\n\nreturn {payload: {temperature: temp.toFixed(2), humidity: hum.toFixed(2), light: lux.toFixed(2)}};","outputs":1,"noerr":0,"x":501,"y":261,"wires":[["6f684e39.0d3a1"]]},{"id":"e9398b66.aee22","type":"serial in","z":"120d9d59.cfc17b","name":"","serial":"ab207b38.c1b26","x":323,"y":183,"wires":[["b7eb3c35.db4fc8","86f1ab89.1a779"]]},{"id":"6f684e39.0d3a1","type":"debug","z":"120d9d59.cfc17b","name":"","active":false,"console":"false","complete":"false","x":659.5,"y":442,"wires":[]},{"id":"b7eb3c35.db4fc8","type":"debug","z":"120d9d59.cfc17b","name":"","active":false,"console":"false","complete":"false","x":428,"y":349,"wires":[]},{"id":"ed6b88cd.8d00e","type":"debug","z":"64d60be8.55cbb4","name":"","active":false,"console":"false","complete":"true","x":604.5,"y":54,"wires":[]},{"id":"239c81e.a430e7e","type":"json","z":"64d60be8.55cbb4","name":"","x":807.5,"y":137,"wires":[["f6ed1b6f.4dc8a8","d04430d7.5084d8","94cc6096.a5861"]]},{"id":"99a2f4ae.8e2f","type":"debug","z":"64d60be8.55cbb4","name":"","active":true,"console":"false","complete":"true","x":934.5,"y":355,"wires":[]},{"id":"14da11e9.273e2e","type":"split","z":"64d60be8.55cbb4","name":"","splt":"\\n","x":680.5,"y":291,"wires":[["ca882980.1a6ae"]]},{"id":"9efd5766.88665","type":"catch","z":"64d60be8.55cbb4","name":"","scope":["239c81e.a430e7e"],"x":333.5,"y":460,"wires":[["b53d8905.866ec8"]]},{"id":"b53d8905.866ec8","type":"function","z":"64d60be8.55cbb4","name":"StripLastNewline","func":"return {payload: msg.payload.slice(0,-1)};","outputs":1,"noerr":0,"x":514.5,"y":370,"wires":[["14da11e9.273e2e"]]},{"id":"ca882980.1a6ae","type":"json","z":"64d60be8.55cbb4","name":"","x":806.5,"y":212,"wires":[["f6ed1b6f.4dc8a8","d04430d7.5084d8","94cc6096.a5861","99a2f4ae.8e2f"]]},{"id":"e14e6051.02d1d8","type":"exec","z":"64d60be8.55cbb4","command":"python3 -u collect.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":363.5,"y":153.5,"wires":[["ed6b88cd.8d00e","239c81e.a430e7e"],["d1f70586.77357"],[]]}]