flows_minibian.json
[{"id":"64d60be8.55cbb4","type":"tab","label":"Main"},{"id":"c56d2324.d06bf8","type":"tab","label":"SendMail"},{"id":"761d44c2.e9f20c","type":"subflow","name":"ThingSpeak","info":"","in":[{"x":710.5,"y":311,"wires":[{"id":"e1d863c2.7f6608"}]}],"out":[{"x":1282.5,"y":350,"wires":[{"id":"9b083471.0a517","port":0}]}]},{"id":"b437662c.b19848","type":"subflow","name":"Logger","info":"","in":[{"x":512.5,"y":325,"wires":[{"id":"eae0ce2e.dd52b8"}]}],"out":[]},{"id":"120d9d59.cfc17b","type":"subflow","name":"Integrated serial","info":"","in":[],"out":[]},{"id":"ab207b38.c1b26","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"19","bin":"bin","out":"count","addchar":false},{"id":"2f9564e0.c71d14","type":"pubnub-keys","z":0,"pub_key":"pub-c-54637d1c-3e6b-495a-9843-dadf17f13d55","sub_key":"sub-c-68c675a8-4ac5-11e7-99ed-0619f8945a4f"},{"id":"9b083471.0a517","type":"http request","z":"761d44c2.e9f20c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1132.5,"y":350,"wires":[[]]},{"id":"e1d863c2.7f6608","type":"function","z":"761d44c2.e9f20c","name":"GenereteRequestURL","func":"var temperature = msg.payload.temperature\nvar humidity = msg.payload.humidity\nvar light = msg.payload.light\nvar url = \"https://api.thingspeak.com/update?api_key=F1AGZDQ65MB8IU70&field1=\"+temperature+\"&field2=\"+humidity+\"&field3=\"+light\nreturn {url: url}","outputs":1,"noerr":0,"x":890.5,"y":311,"wires":[["9b083471.0a517"]]},{"id":"d04430d7.5084d8","type":"subflow:761d44c2.e9f20c","z":"64d60be8.55cbb4","name":"","x":983.5,"y":330.5,"wires":[[]]},{"id":"f6ed1b6f.4dc8a8","type":"pubnub out","z":"64d60be8.55cbb4","keys":"2f9564e0.c71d14","channel":"dallalongaIOT","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":921.5,"y":219,"wires":[]},{"id":"3d45ebbb.31e4ec","type":"file","z":"b437662c.b19848","name":"log","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":915.5,"y":333,"wires":[]},{"id":"eae0ce2e.dd52b8","type":"function","z":"b437662c.b19848","name":"FormatToCSV","func":"line = msg.payload.temperature+\",\"+msg.payload.humidity+\",\"+msg.payload.light\ntoday = new Date()\nvar month = today.getMonth()<10 ? '0'+today.getMonth() : today.getMonth()\nvar day = today.getDate()<10 ? '0'+today.getDate() : today.getDate()\nsuffix = \"\"+today.getFullYear()+month+day\nreturn {payload: line, filename: \"/home/infinitesnow/log/log-\"+suffix+\".csv\"};","outputs":1,"noerr":0,"x":672.5,"y":325,"wires":[["3d45ebbb.31e4ec"]]},{"id":"94cc6096.a5861","type":"subflow:b437662c.b19848","z":"64d60be8.55cbb4","name":"","x":877,"y":444,"wires":[]},{"id":"b0ff4173.91ad98","type":"inject","z":"c56d2324.d06bf8","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 13 * * *","once":false,"x":107.5,"y":93,"wires":[["a8b1578e.9ba9d"]]},{"id":"a8b1578e.9ba9d","type":"function","z":"c56d2324.d06bf8","name":"YesterdaysLog","func":"var yesterday = new Date()\nyesterday.setDate(yesterday.getDate()-1)\nvar month = yesterday.getMonth()<10 ? '0'+yesterday.getMonth() : yesterday.getMonth()\nvar day = yesterday.getDate()<10 ? '0'+yesterday.getDate() : yesterday.getDate()\nsuffix = \"\"+yesterday.getFullYear()+month+day\nreturn {filename: \"/home/infinitesnow/log/log-\"+suffix+\".csv\"};","outputs":1,"noerr":0,"x":260.5,"y":220,"wires":[["e1fcdb2b.86176"]]},{"id":"fc6bae4d.0a195","type":"debug","z":"c56d2324.d06bf8","name":"","active":true,"console":"false","complete":"true","x":923.5,"y":657,"wires":[]},{"id":"e1fcdb2b.86176","type":"file in","z":"c56d2324.d06bf8","name":"","filename":"","format":"utf8","x":397.5,"y":317,"wires":[["1ca688ab.c4ce47"]]},{"id":"1ca688ab.c4ce47","type":"csv","z":"c56d2324.d06bf8","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"id,temperature,humidity","x":553.5,"y":444,"wires":[["d14c1f9b.66f9"]]},{"id":"d14c1f9b.66f9","type":"function","z":"c56d2324.d06bf8","name":"Average","func":"var tempsum=0\nvar humsum=0\nvar items=msg.payload\nvar count = items.length\ntemps=items.map(function(i){return i.temperature})\nhums=items.map(function(i){return i.humidity})\n\nfor (var i=0; i<count; i++){\n    tempsum+=temps[i]\n    humsum+=hums[i]\n}\n\nvar tempavg=tempsum/count\nvar humavg=humsum/count\nvar tempmax=Math.max(...temps)\nvar hummax=Math.max(...hums)\nvar tempmin=Math.min(...temps)\nvar hummin=Math.min(...hums)\n\nreturn {temperature_avg: tempavg, humidity_avg: humavg, \n    temperature_max: tempmax, humidity_max: hummax, \n    temperature_min: tempmin, humidity_min: hummin};","outputs":1,"noerr":0,"x":724.5,"y":541,"wires":[["c30996cc.fe3378"]]},{"id":"a096e497.5c8fc8","type":"e-mail","z":"c56d2324.d06bf8","server":"smtp.gmail.com","port":"465","name":"leledallalonga@gmail.com","dname":"","x":1113.5,"y":304,"wires":[]},{"id":"c30996cc.fe3378","type":"function","z":"c56d2324.d06bf8","name":"","func":"var message = \"Yesterday the average temperature was \"+msg.temperature_avg.toFixed(2)\n    +\"°, with an average humidity of \"+msg.humidity_avg.toFixed(2)\n    +\"\\nThe maximum temperature was \"+msg.temperature_max.toFixed(2)+\"°, and the maximum humidity was \"+msg.humidity_max.toFixed(2)\n    +\"\\nThe minimum temperature was \"+msg.temperature_min.toFixed(2)+\"°, and the minimum humidity was \"+msg.humidity_min.toFixed(2)\n    +\"%.\\n\\nHave a nice day!\"\nreturn {payload: message, topic: \"Weather summary\" };","outputs":1,"noerr":0,"x":826.5,"y":423,"wires":[["fc6bae4d.0a195","be4ccce8.c60358","a096e497.5c8fc8"]]},{"id":"be4ccce8.c60358","type":"e-mail","z":"c56d2324.d06bf8","server":"smtp.gmail.com","port":"465","name":"angela.broggi22@gmail.com","dname":"","x":1021,"y":213,"wires":[]},{"id":"d1f70586.77357","type":"file","z":"64d60be8.55cbb4","name":"","filename":"error.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":516,"y":403,"wires":[]},{"id":"e14e6051.02d1d8","type":"exec","z":"64d60be8.55cbb4","command":"python3 -u collect.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":335.5,"y":251.5,"wires":[["ed6b88cd.8d00e","239c81e.a430e7e"],["d1f70586.77357"],[]]},{"id":"534cc147.53c508","type":"inject","z":"64d60be8.55cbb4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":212.5,"y":145,"wires":[["e14e6051.02d1d8"]]},{"id":"86f1ab89.1a779","type":"function","z":"120d9d59.cfc17b","name":"","func":"var buf = msg.payload\n\nvar header = buf.readUInt8(0)\nvar footer = buf.readUInt8(18)\n\n// Check serial package integrity\nif (header!=0x7e || footer!=0x7e){ return null; }\n\nvar tempv = buf.readUInt16BE(10)\nvar humv = buf.readUInt16BE(12)\nvar luxv = buf.readUInt16BE(14)\n\n// Values from Sensirion datasheet\nvar c1= -2.0468\nvar c2=  0.0367\nvar c3= -1.5955*Math.pow(10,-6)\nvar d1= -40\nvar d2=  0.01\n\n// Formulas from the TinyOS wiki\n\n// Compute the raw voltage on the photodiode\nvar luxvsensor = luxv/4096*1.5\n// Compute the current through 100kOhm resistor\nvar luxi = luxvsensor/100000\n\nvar temp = d1 + d2*tempv\nvar hum = c1 + c2*humv + c3*Math.pow(humv,2)\nvar lux = 0.625 * Math.pow(10,6) * luxi * 1000\n\nreturn {payload: {temperature: temp.toFixed(2), humidity: hum.toFixed(2), light: lux.toFixed(2)}};","outputs":1,"noerr":0,"x":501,"y":261,"wires":[["6f684e39.0d3a1"]]},{"id":"e9398b66.aee22","type":"serial in","z":"120d9d59.cfc17b","name":"","serial":"ab207b38.c1b26","x":323,"y":183,"wires":[["b7eb3c35.db4fc8","86f1ab89.1a779"]]},{"id":"6f684e39.0d3a1","type":"debug","z":"120d9d59.cfc17b","name":"","active":false,"console":"false","complete":"false","x":659.5,"y":442,"wires":[]},{"id":"b7eb3c35.db4fc8","type":"debug","z":"120d9d59.cfc17b","name":"","active":false,"console":"false","complete":"false","x":428,"y":349,"wires":[]},{"id":"ed6b88cd.8d00e","type":"debug","z":"64d60be8.55cbb4","name":"","active":true,"console":"false","complete":"true","x":812.5,"y":130,"wires":[]},{"id":"239c81e.a430e7e","type":"json","z":"64d60be8.55cbb4","name":"","x":654.5,"y":286,"wires":[["f6ed1b6f.4dc8a8","d04430d7.5084d8","94cc6096.a5861"]]}]